@inject IViewLocalizer Localizer
@inject IOptions<DataProtectionTokenProviderOptions> TokenProviderOptions
@inject Axuno.Tools.DateAndTime.TimeZoneConverter TimeZoneConverter
@{
    Layout = "_LayoutEmail";
    var changeEmail = Localizer["Change your primary email address"].Value;
    var pleaseConfirm = string.Format($"{Localizer["Please confirm the new email address by clicking this link"].Value}:");
    var tokenExpiresOn = TimeZoneConverter.ToZonedTime(DateTime.UtcNow.Add(TokenProviderOptions.Value.TokenLifespan));
    var deadline = string.Format("{0:d} {0:HH:00 'h'} {1}", tokenExpiresOn.DateTimeOffset.DateTime, tokenExpiresOn.Abbreviation);
    var buttonText = Localizer["Confirm New Email"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@*ValueTuple*@
@model (string Email, string CallbackUrl, TournamentManager.MultiTenancy.ITenantContext TenantContext)
<!-- source: https://buttons.cm/ -->
<div>
    <h3>@changeEmail</h3>
    <p>@pleaseConfirm</p>
    <!--[if mso]>
        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@Model.CallbackUrl" style="height: 38px; v-text-anchor: middle; width: 200px;" arcsize="27%" strokecolor="#018dff" fillcolor="#018dff">
            <w:anchorlock/>
            <center style="color: #ffffff; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold;">@buttonText</center>
        </v:roundrect>
    <![endif]-->
    <!--[if !mso]><!-- -->
    <a href="@Model.CallbackUrl" style="background-color: #018dff; border: 1px solid #018dff; border-radius: 10px; color: #ffffff; display: inline-block; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; line-height: 38px; text-align: center; text-decoration: none; width: 200px; -webkit-text-size-adjust: none; mso-hide: all;">@buttonText</a>
    <!--<![endif]-->
    <p>
        @Localizer["The confirmation link can be used once until"] @deadline.
    </p>
    <p>
        @Model.TenantContext.OrganizationContext.Name
    </p>
</div>
