@inject IOptions<DataProtectionTokenProviderOptions> TokenProviderOptions
@inject IViewLocalizer Localizer
@inject Axuno.Tools.DateAndTime.TimeZoneConverter TimeZoneConverter
@{
    Layout = "_LayoutEmail";
    var hereIsYourCode = Localizer["Here is your password recovery code"].Value;
    var clickResetLink = string.Format($"{Localizer["In order to choose a new password, please click this link"].Value}:");
    var tokenExpiresOn = TimeZoneConverter.ToZonedTime(DateTime.UtcNow.Add(TokenProviderOptions.Value.TokenLifespan));
    var deadline = string.Format("{0:d} {0:HH:00 'h'} {1}", tokenExpiresOn.DateTimeOffset.DateTime, tokenExpiresOn.Abbreviation);
    var buttonText = Localizer["Change Password"];
}
@using League.DI
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TournamentManager.Data
@*ValueTuple*@
@model (string Email, string CallbackUrl, OrganizationContext OrganizationContext)
<!-- source: https://buttons.cm/ -->
<div>
    <h3>@hereIsYourCode</h3>
    <p>@clickResetLink</p>
    <!--[if mso]>
        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@Model.CallbackUrl" style="height: 38px; v-text-anchor: middle; width: 200px;" arcsize="27%" strokecolor="#018dff" fillcolor="#018dff">
            <w:anchorlock/>
            <center style="color: #ffffff; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold;">@buttonText</center>
        </v:roundrect>
    <![endif]-->
    <!--[if !mso]><!-- -->
    <a href="@Model.CallbackUrl" style="background-color: #018dff; border: 1px solid #018dff; border-radius: 10px; color: #ffffff; display: inline-block; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; line-height: 38px; text-align: center; text-decoration: none; width: 200px; -webkit-text-size-adjust: none; mso-hide: all;">@buttonText</a>
    <!--<![endif]-->
    <p>
        @Localizer["The recovery code can be used once until"] @deadline.
    </p>
    <p>
        @Model.OrganizationContext.Name
    </p>
</div>
