@using League.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@using League.Components
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@model League.Models.TeamViewModels.TeamVenueSelectModel
@{var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;}
<!-- Modal -->
<modal id="select-venue" title="@Localizer["Select team venue"].Value" dialog-class="modal-lg" tabindex="-1">
    <modal-body class="pb-0">
        @{ ValueTuple<long, IList<long>, VenueSelectorComponentModel.Criteria, VenueSelectorComponentModel.Criteria, long?> componentModel =
                 (Model.TournamentId,
                     new List<long>([Model.TeamId]),
                     (!TenantContext.TournamentContext.TeamRuleSet.HomeVenue.MustBeSet ? VenueSelectorComponentModel.Criteria.NotSpecified : 0) |
                     VenueSelectorComponentModel.Criteria.VenuesOfTeams | VenueSelectorComponentModel.Criteria.Active | VenueSelectorComponentModel.Criteria.Unused,
                     VenueSelectorComponentModel.Criteria.VenuesOfTeams | VenueSelectorComponentModel.Criteria.Active | VenueSelectorComponentModel.Criteria.Unused,
                     default); }
        @(await Component.InvokeAsync<VenueSelector>(componentModel))
        <form asp-controller="@nameof(Team)" asp-action="@nameof(Team.SelectVenue)" asp-route-tenant="@tenantUrlSegment" method="post" novalidate>
            <input asp-for="TeamId" type="hidden" />
            <input asp-for="VenueId" type="hidden" />
        </form>
    </modal-body>
    <modal-footer show-dismiss="true" dismiss-text="@Localizer["Cancel"].Value">
        <button site-ajax-submit class="btn btn-primary">@Localizer["Save"].Value</button>
        <script type="text/javascript">

            function CheckUncheckItems() {
                document.querySelectorAll('#venue-list tr[data-venue-id]').forEach(function (r) {
                    if (r.getAttribute('data-venue-id') === document.querySelector('#@(Html.IdFor(m => m.VenueId))').value) {
                        r.querySelector('td:first-child').innerHTML = '<i class="fas fa-check"></i>';
                    } else {
                        r.querySelector('td:first-child').innerHTML = '';
                    }
                });
            }

            document.querySelectorAll('#venue-list tr[data-venue-id]').forEach(function (r) {
                r.addEventListener('click', function () {
                    document.querySelector('#@(Html.IdFor(m => m.VenueId))').value = r.getAttribute('data-venue-id');
                    CheckUncheckItems();
                });
            });

            CheckUncheckItems();
        </script>
    </modal-footer>
</modal>
