@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.DI
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@inject RegionInfo Region
@inject PhoneNumberService PhoneNumberService
@model League.Models.TeamViewModels.TeamSingleModel
@{
    ViewData["Title"] = Localizer["Team Details"].Value + " - " + Model.Tournament!.Name;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
    string DisplayPhoneNo(string phoneNo)
    {
        return PhoneNumberService.Format(phoneNo, Region.TwoLetterISORegionName);
    }
    string TelUriPhoneNo(string phoneNo)
    {
        return PhoneNumberService.FormatAsTelephoneUri(phoneNo, Region.TwoLetterISORegionName);
    }
}
<div class="mb-0 pb-2">
    <h2 class="h2">@ViewData["Title"]</h2>
    <h4 class="h4 d-inline-block mr-4">@Model.TeamVenueRoundInfo!.RoundDescription</h4>
    <span class="text-info">@Model.TeamVenueRoundInfo.RoundTypeDescription</span>
    <hr class="mb-3" />
    <div class="row">
        <div class="text-success col-md-3">@Localizer["Team"]</div>
        <div class="col-md-9 font-weight-bold">@Model.TeamVenueRoundInfo.TeamName</div>
        @if (!string.IsNullOrEmpty(Model.TeamVenueRoundInfo.TeamClubName))
        {
            <div class="text-success col-md-3">@Localizer["Club"]</div>
            <div class="col-md-9">@Model.TeamVenueRoundInfo.TeamClubName</div>
        }
        @if (Model.TeamVenueRoundInfo.MatchDayOfWeek.HasValue && Model.TeamVenueRoundInfo.MatchTime.HasValue)
        {
            // MatchTime is defined as a zoned time, NOT UTC. It is always the same, never mind DST
            <div class="text-success col-md-3">@Localizer["Home match day"]</div>
            <div class="col-md-9 mb-2"><i class="far fa-calendar-alt"></i><span class="d-inline-block mr-2"></span>@DateTimeFormatInfo.CurrentInfo.GetDayName((DayOfWeek)Model.TeamVenueRoundInfo.MatchDayOfWeek), @(DateTime.UtcNow.Date.Add(Model.TeamVenueRoundInfo.MatchTime.Value).ToShortTimeString()) @(Model.TimeZoneConverter.ToZonedTime(DateTime.UtcNow)!.Abbreviation)</div>
        }
        @if (Model.TeamVenueRoundInfo.VenueId.HasValue)
        {
            <div class="text-success col-md-3">@Localizer["Venue"]</div>
            <div class="col-md-7 mb-2">
                <div><i class="fas fa-map-marker-alt"></i><span class="d-inline-block mr-2"></span><span class="font-weight-bold">@Model.TeamVenueRoundInfo.VenueName</span> <span>@{if (!string.IsNullOrWhiteSpace(Model.TeamVenueRoundInfo.VenueExtension))
                    {<text>(@Model.TeamVenueRoundInfo.VenueExtension)</text>}}</span></div>
                <div>@(string.Join(", ", Model.TeamVenueRoundInfo.VenuePostalCode, Model.TeamVenueRoundInfo.VenueCity, Model.TeamVenueRoundInfo.VenueStreet))</div>
                <div><a class="link" asp-action="@nameof(League.Controllers.Map.Venue)" asp-controller="@nameof(League.Controllers.Map)" asp-route-tenant="@tenantUrlSegment" asp-route-id="@Model.TeamVenueRoundInfo.VenueId.Value">@Localizer["Direction"]</a></div>
            </div>
        }
        @if (Model.TeamUserRoundInfos.Count > 0)
        {
            @if (Model.ShowContactInfos)
            {
                foreach (var userInfo in Model.TeamUserRoundInfos)
                {

                    <div class="text-success col-md-3">@Localizer["Team contact"]</div>
                    <div class="col-md-7 mb-2">
                        <div class="font-weight-bold"><i class="fas fa-user"></i><span class="d-inline-block mr-2"></span>@userInfo.CompleteNameWithNickName</div>
                        <div><i class="far fa-envelope"></i><span class="d-inline-block mr-2"></span><a href="mailto:@userInfo.Email">@userInfo.Email</a></div>

                        <span class="d-inline-block mr-4">
                            <i class="fas fa-phone-square-alt"></i><span class="d-inline-block mr-2"></span><a href="@TelUriPhoneNo(userInfo.PhoneNumber)">@DisplayPhoneNo(userInfo.PhoneNumber)</a>
                        </span>
                        @if (!string.IsNullOrEmpty(userInfo.PhoneNumber2))
                        {
                            <span class="d-inline-block text-nowrap">
                                <i class="fas fa-phone-square-alt"></i>
                                <a href="@TelUriPhoneNo(userInfo.PhoneNumber2)">@DisplayPhoneNo(userInfo.PhoneNumber2)</a>
                            </span>
                        }
                    </div>
                }
            }
            else
            {
                <div class="text-success col-md-3">@Localizer["Team contact"]</div>
                <div class="col-md-7 mb-2"><strong>@Localizer["Contacts are displayed only to signed-in users who are members of a team."]</strong></div>
            }
        }
        <div class="text-success col-md-3">@Localizer["Team Photo"]</div>
        <div class="col-md-7">
            @if (!string.IsNullOrEmpty(Model.PhotoUriInfo.Uri))
            {
                var zonedLastModified = Model.TimeZoneConverter.ToZonedTime(Model.PhotoUriInfo.Date)!;
                <div><img src="@Url.Content(Model.PhotoUriInfo.Uri)" class="img-fluid img-thumbnail" alt="@(Model.TeamVenueRoundInfo.TeamName)" /></div>
                <div><small class="text-muted">@Localizer["Photo of"] @zonedLastModified.DateTimeOffset.DateTime.ToShortDateString() @zonedLastModified.Abbreviation</small></div>
            }
            else
            {
                <div class="d-inline-block p-3" style="background-color: lightgray">
                    <i class="fas fa-users fa-3x d-inline-block mr-3"></i>
                    <i class="far fa-question-circle fa-3x"></i>
                </div>
            }
        </div>
    </div>
</div>
