@using League.Navigation
@using Microsoft.Extensions.Localization
@model NavigationViewModel
@inject IStringLocalizer<NavigationResource> Localizer
@addTagHelper *, cloudscribe.Web.Navigation
<ul class="navbar-nav mr-auto mt-2 mt-md-0 w-100" role="menubar">
    @if (await Model.HasVisibleChildren(Model.RootNode))
    {
        foreach (var node in Model.RootNode.Children)
        {
            // Node keys after "RightAlignSeparator" shall be aligned to the right margin of the navigation bar
            if (node.Value.Key.Equals("RightAlignSeparator", StringComparison.InvariantCultureIgnoreCase))
            {
                ViewData["dropdown-menu-right"] = " dropdown-menu-right"; // for dropdown in NavigationNodeChildDropdownPartial
                <li class="ml-md-auto"></li>
            }

            if (node.Children.Count > 0 ? node.Children.All(cn => string.IsNullOrEmpty(Url.Content(Model.AdjustUrl(cn)))) : string.IsNullOrEmpty(Url.Content(Model.AdjustUrl(node)))) { continue; } // all Url are not resolved for the organization

            if (!await Model.ShouldAllowView(node)) { continue; }
            if (!await Model.HasVisibleChildren(node))
            {
                <li class="@Model.GetClass(node.Value, "nav-item", "active", true)">
                    <a class="nav-link" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@Localizer[Model.AdjustText(node)]</a>
                </li>
            }
            else
            {
                <li class="@Model.GetClass(node.Value, "nav-item dropdown", "active", true)">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="@Url.Content(Model.AdjustUrl(node))" role="button">
                        @Html.Raw(Model.GetIcon(node.Value))@Localizer[Model.AdjustText(node)]@Model.UpdateTempNode(node)
                    </a>
                    <partial name="@League.Views.ViewNames.Shared.NavigationNodeChildDropdownPartial" model="Model" />
                </li>
            }
        }
        <partial name="@League.Views.ViewNames.Shared._LanguagePartial"/>
    }
</ul>
