@using Microsoft.AspNetCore.Mvc.Localization
@using League.Helpers
@inject IViewLocalizer Localizer
@{
    ViewData.Title(Localizer["Picture Credits"].Value);
}
<div>
    <h2 class="h2">@ViewData.Title()</h2>
    <hr />
</div>
<div class="mb-0 pb-1">
    <p>@Localizer["We give credit to the following list of pictures"]:</p>
    <p>
        <a href="@Url.Content("~/images/logo-volleyball-league.svg")" class="credit">© vectorstock 14122148 / vectorstock.com</a><br />
        <a href="@Url.Content("~/images/logo-axuno.svg")" class="credit">© Elaelo / fotolia.com</a><br />
        <a href="@Url.Content("~/images/home_welcome_carousel-01.png")" class="credit">© vectorstock 14122148 / vectorstock.com</a><br />
        <a href="@Url.Content("~/images/home_welcome_carousel-02.jpg")" class="credit">Capri23auto-1767157</a> / <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3031697">Pixabay</a><br />
        <a href="@Url.Content("~/images/home_welcome_carousel-03.jpg")" class="credit">Wolfgang Gerth 2639700</a> / <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2639700">Pixabay</a><br />
        <a href="@Url.Content("~/images/home_welcome_carousel-04.jpg")" class="credit">Tania van den Berghen 520093</a> / <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=520093">Pixabay</a><br />
    </p>
</div>
<modal id="img-modal" title="@Localizer["Picture Credits"].Value" dialog-class="modal-md">
    <modal-body>
        <img class="img-fluid" src="" id="show-img" alt="" />
        <div id="img-credit"></div>
        <script site-inline="true">
            document.querySelectorAll('.credit').forEach(function (credit) {
                credit.addEventListener('click', function (e) {
                    e.preventDefault();
                    var img = credit.getAttribute('href');
                    document.querySelector('#show-img').setAttribute('src', img);
                    document.querySelector('#img-credit').innerHTML = credit.innerHTML;
                    bootstrap.Modal.getOrCreateInstance('#img-modal').show();
                });
            });
        </script>
    </modal-body>
</modal>
@section scripts
{}
@section styles {
    <style type="text/css">
        .credit { }  /* only for javascript */
    </style>
}
