@using League.Helpers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData.Title(Localizer["Volleyball Leagues: Organization and Operation"].Value);
    ViewData.Description(Localizer["Volleyball League is an open source sports platform that brings everything necessary to organize and to run a league"].Value);
}
<div>
    <h2 class="h2">@ViewData.Title()</h2>
    <hr />
</div>
<div class="mb-0 pb-1">
    <div id="welcome-carousel" class="carousel slide" data-ride="carousel">
        @*<!-- Indicators -->*@
        <ul class="carousel-indicators">
            <li data-target="#welcome-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#welcome-carousel" data-slide-to="1"></li>
            <li data-target="#welcome-carousel" data-slide-to="2"></li>
            <li data-target="#welcome-carousel" data-slide-to="3"></li>
        </ul>
        @*<!-- The slide show -->*@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid rounded" src="@Url.Content("~/images/home_welcome_carousel-01.png")" alt="">
            </div>
            <div class="carousel-item">
                <img class="img-fluid rounded" src="@Url.Content("~/images/home_welcome_carousel-02.jpg")" alt="">
            </div>
            <div class="carousel-item">
                <img class="img-fluid rounded" src="@Url.Content("~/images/home_welcome_carousel-03.jpg")" alt="">
            </div>
            <div class="carousel-item">
                <img class="img-fluid rounded" src="@Url.Content("~/images/home_welcome_carousel-04.jpg")" alt="">
            </div>
        </div>
        @*<!-- Left and right controls -->*@
        <a class="carousel-control-prev" href="#welcome-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#welcome-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div>
        <ul class="fa-ul mt-4 ml-4">@* ml-4 means 'no indent' here*@
            <li><span class="fa-li"><i class="fas fa-question text-primary"></i></span>@Localizer["You're organizing a volleyball league?"]</li>
            <li><span class="fa-li"><i class="fas fa-question text-primary"></i></span>@Localizer["Manual work takes too much from your leisure time?"]</li>
        </ul>
        <h4 class="h5">
            <a asp-action="@nameof(League.WebApp.Controllers.Home.AboutLeague)" asp-controller="@nameof(League.WebApp.Controllers.Home)" class="text-primary font-weight-bolder" ><i class="fa fa-check-circle text-primary"></i> @Localizer["Here is the solution to help you out!"]</a>
        </h4>
    </div>
</div>
@section styles {
    <style type="text/css">
        .slide { }  @* Makes picture slide instead of immediate replacement*@
    </style>
}