@using League.Components
@model (League.Components.MainNavigationComponentModel MainNav, League.Components.MainNavigationComponentModel.NavigationNode Node)
@if (Model.MainNav != null && Model.Node.HasVisibleChildNodes())
{
    <ul class="dropdown-menu shadow@(ViewData["dropdown-menu-right"])" style="margin-top: -0.3rem">
        @foreach (var childNode in Model.Node.ChildNodes)
        {
            if (!childNode.ShouldShow())
            {
                continue;
            }

            if (childNode.Text == "Separator")
            {
                <li>
                    <span class="dropdown-divider"></span>
                </li>
                continue;
            }
            if (childNode.HasVisibleChildNodes())
            {
                <li>
                    <a href="@Url.Content(childNode.Url!)" class="@Model.MainNav.GetClass(Context, childNode, "dropdown-item", "active", true)">@childNode.Text</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Content(childNode.Url!)" class="@Model.MainNav.GetClass(Context, childNode, "dropdown-item", "active", true)">@childNode.Text</a>
                    <partial name="@League.Views.ViewNames.Shared.NavigationNodeChildDropdownPartial" model="(Model.MainNav, childNode)" /> @*recursion*@
                </li>
            }
        }
    </ul>
}

