@using League.Components
@model (League.Components.MainNavigationComponentModel MainNav, League.Components.MainNavigationComponentModel.NavigationNode Node)
@if (Model.MainNav != null && Model.Node.HasVisibleChildNodes())
{
    <div class="dropdown-menu shadow@(ViewData["dropdown-menu-right"])" style="margin-top: -0.3rem">
        @foreach (var childNode in Model.Node.ChildNodes)
        {
            if (!childNode.IsVisible)
            {
                continue;
            }

            if (childNode.Text == "Separator")
            {
                <div class="dropdown-divider"></div>
                continue;
            }
            if (childNode.HasVisibleChildNodes())
            {
                <a href="@Url.Content(childNode.Url)" class="@Model.MainNav.GetClass(Context, childNode, "dropdown-item", "active", true)">@childNode.Text</a>
            }
            else
            {
                <a href="@Url.Content(childNode.Url)" class="@Model.MainNav.GetClass(Context, childNode, "dropdown-item", "active", true)">@childNode.Text</a>
                <partial name="@League.Views.ViewNames.Shared.NavigationNodeChildDropdownPartial" model="(Model.MainNav, childNode)" /> @*recursion*@
            }
        }
    </div>
}

