@using League.Controllers
@using League.Views
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@model League.Models.TeamApplicationViewModels.ApplicationSelectTeamModel
@{
    ViewData["Title"] = Localizer["Team Registration"].Value + " - " + Model.TournamentName;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
}
<div class="mb-0 pb-1">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr class="mb-2" />
    @* Form with only 1 input field can be submitted with enter key. So we have to prevent default submit behavior and trigger a click on saveBtn *@
    <form asp-controller="@nameof(TeamApplication)" asp-action="@nameof(TeamApplication.SelectTeam)" asp-route-tenant="@tenantUrlSegment" method="post" role="form">
        <site-validation-summary show="All" unique-error-text="true"></site-validation-summary>
        <div class="row">
            <div class="mb-3 col-12 col-md-8">
                <label asp-for="SelectedTeamId" class="d-block form-label"></label>
                <div class="table-responsive-sm">
                    @* Wrapping this way make tables responsive and 100% width *@
                    <table class="table table-sm table-light mb-0">
                        <thead class="rounded">
                            <tr>
                                <th><i class="far fa-check-circle"></i></th>
                                <th>@Localizer["Team"]</th>
                                <th>@Localizer["Last registration for"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var team in Model.TeamsManagedByUser)
                            {
                                <tr><td class="text-center"><input asp-for="SelectedTeamId" value="@team.TeamId" type="radio" /></td><td>@team.TeamName</td><td>@team.TournamentName</td></tr>
                            }
                        </tbody>
                    </table>
                    <div class="small text-muted">@Localizer["The team name can be changed in the next step"].</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <input type="submit" class="btn btn-primary" value="@Localizer["Continue with selected team"]">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label class="form-label">@Localizer["The team has never participated before"]</label>
                <a asp-controller="@nameof(TeamApplication)" asp-action="@nameof(TeamApplication.EditTeam)" asp-route-tenant="@tenantUrlSegment" asp-route-isnew="true" class="btn btn-primary">@Localizer["Create a new team"]</a>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <a asp-controller="@nameof(TeamApplication)" asp-action="@nameof(TeamApplication.Start)" asp-route-tenant="@tenantUrlSegment" class="btn btn-secondary">@Localizer["Back"]</a>
            </div>
        </div>
    </form>
</div>
@section styles
{
    <style type="text/css">
        .table tbody tr {
            cursor: pointer;
        }

        .table tbody tr {
            border-bottom: solid 2px lightgray
        }

        .table thead {
            background-color: lightgray
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        const rows = document.querySelectorAll('.table tbody tr');
        rows.forEach(function (row) {
            row.addEventListener('click', function (e) {
                if (event.target.type !== 'radio') {
                    this.querySelector('[type="radio"]').click();
                }
            });
        });
    </script>
}

