@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@using League.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@model ExternalSignConfirmationViewModel
@{
    ViewData["Title"] = Localizer["Associate social network account"].Value;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
    var loginProvider = ViewData["LoginProvider"]!;
    List<SelectListItem> GenderList()
    {
        return new List<SelectListItem> {new() {Value = string.Empty, Text = Localizer["Please choose"].Value},
            new() {Value = "f", Text = Localizer["Mrs."].Value},
            new() {Value = "m", Text = Localizer["Mr."].Value}};
    }
}
<h2 class="h2">@(Localizer.GetHtml("Associate your <strong>{0}</strong> account", loginProvider)).</h2>
<hr />
<form asp-controller="@nameof(Account)" asp-action="@nameof(Account.ExternalSignInConfirmation)" asp-route-tenant="@tenantUrlSegment" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="col-md-8 col-sm-10 col-12 ps-0" novalidate>
    <site-alert type="Success">
        @(Localizer.GetHtml("You have successfully authenticated with <strong>{0}</strong>", loginProvider)).
    </site-alert>
    <p>
        @(Localizer.GetHtml("Please enter your contact data below below to finish signing in with <strong>{0}</strong>", TenantContext.OrganizationContext.ShortName)).
    </p>
    <site-validation-summary show="All">
        <b>@Localizer["Input has some issues"]:</b>
    </site-validation-summary>
    <div class="mb-3">
        <label asp-for="Email" class="d-block form-label"></label>
        <div class="fw-bolder">@Model.Email</div>
    </div>
    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <select asp-for="Gender" asp-items="GenderList()" class="form-select col-md-6"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" required="required" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" required="required" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nickname" class="form-label"></label>
        <input asp-for="Nickname" class="form-control" aria-describedby="nicknameHelpBlock" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
        <small id="nicknameHelpBlock" class="form-text text-muted">
            @Localizer["The name your team mates are using"]
        </small>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" aria-describedby="phoneNumberHelpBlock" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <small id="phoneNumberHelpBlock" class="form-text text-muted">
            @Localizer["Enter your mobile phone number, if applicable"]
        </small>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-lg btn-primary col-10">@Localizer["Associate account"]</button>
    </div>
</form>
@section Scripts {}
