@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@{ ViewData["Title"] = Localizer["New Password Confirmation"].Value;
                var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue; }
<h2 class="h2">@ViewData["Title"].</h2>
<hr />
<div>
    <site-alert type="Success">
        @Localizer["The new password is saved and activated"].<br />
    </site-alert>
    <p>
        <a asp-controller="@nameof(League.Controllers.Account)" asp-action="@nameof(League.Controllers.Account.SignIn)" asp-route-organization="@tenantUrlSegment" class="btn btn-lg btn-primary col-sm-8 col-md-5">@Localizer["Sign-in now"]</a>.
    </p>
</div>
