@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject League.DI.SiteContext SiteContext
@{
    ViewData["Title"] = Localizer["Account is currently disabled"];
    var organizationRoute = SiteContext.UrlSegmentValue;
}
<h2 class="h2">@ViewData["Title"].</h2>
<div>
    <site-alert type="Danger">
        @Localizer["Your account is currently disabled, because your email address has not been confirmed yet"]<br />
    </site-alert>
    <p>
        <a asp-controller="@nameof(League.Controllers.Account)" asp-action="@nameof(League.Controllers.Account.SignIn)" asp-route-organization="@organizationRoute" class="btn btn-lg btn-primary col-sm-8 col-md-5">@Localizer["Sign in"]</a>
    </p>
</div>
