@using League.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@model EditEmail2ViewModel
@{ const string BtnRemove = "btn-remove";
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
}
<!-- Modal -->
<modal id="change-email" title="@Localizer["Change Additional Email Address"].Value" tabindex="-1">
    <modal-body>
        <div>
            <p>@Localizer["The Additional Email will receive the same messages as the Primary Email."]</p>
        </div>
        <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.EditEmail2)" asp-route-tenant="@tenantUrlSegment" method="post" role="form" novalidate>
            <site-validation-summary show="All"></site-validation-summary>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <div class="mb-3">
                <label asp-for="Email2" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Email2" class="form-control" autofocus type="text" />
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <span asp-validation-for="Email2" class="text-danger"></span>
            </div>
        </form>
        @* The script must be inside modal-body in order to run if the form is re-displayed after validation *@
        <script type="text/javascript">

            document.querySelector('#@(BtnRemove)').addEventListener('click', function () {
                document.querySelector('#@nameof(Model.Email2)').value = '';
            });
        
        </script>
    </modal-body>
    <modal-footer show-dismiss="true" dismiss-text="@Localizer["Cancel"].Value">
        <button site-ajax-submit id="@BtnRemove" class="btn btn-info" type="button">@Localizer["Remove"].Value</button>
        <button site-ajax-submit id="btn-save" class="btn btn-primary" type="submit">@Localizer["Save"].Value</button>
    </modal-footer>
</modal>
