@using League.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ManageLoginsViewModel
<!-- Modal -->
<modal id="change-email" title="@Localizer["Social Network Logins"].Value" tabindex="-1">
    <modal-body>
        <div>
            @if (Model.CurrentLogins.Count > 0)
            {
                <h4 class="h4">@Localizer["Existing Linked Networks"]</h4>
                <hr />
                for (var index = 0; index < Model.CurrentLogins.Count; index++)
                {
                    <div class="row no-gutters mb-2">
                        <div class="col-sm-5">@Model.CurrentLogins[index].ProviderDisplayName</div>
                        <div class="col-sm-7 text-wrap">
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.RemoveLogin)" method="post" role="form">
                                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                                    <input name="@nameof(RemoveLoginViewModel.LoginProvider)" value="@Model.CurrentLogins[index].LoginProvider" type="hidden" />
                                    <input name="@nameof(RemoveLoginViewModel.ProviderKey)" value="@Model.CurrentLogins[index].ProviderKey" type="hidden" />
                                    <button type="button" site-ajax-submit class="btn btn-sm btn-primary" title="@Localizer["Remove this social login from your account"]">@Localizer["Remove Link"]</button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.SetPassword)" method="get" role="form">
                                    <button type="button" site-ajax-submit class="btn btn-sm btn-primary" aria-describedby="setPasswordHelpBlock">@Localizer["Set Local Password"]</button>
                                    <small id="setPasswordHelpBlock" class="form-text text-muted d-inline-block">
                                        @Localizer["Set a local password before you remove the social login"]
                                    </small>
                                </form>
                            }
                        </div>
                    </div>
                }
            }
            @if (Model.OtherLogins.Count > 0)
            {
                <div class="mt-4">
                    <h4 class="h4">@Localizer["Add New Social Login"]</h4>
                    <hr />
                    <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.LinkLogin)" method="post" role="form">
                        <div id="socialLoginList">
                            <p>
                                @foreach (var provider in Model.OtherLogins)
                                {
                                    <button type="submit" class="btn btn-secondary" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                </div>
            }
        </div>
    </modal-body>
</modal>


