@using League.Controllers
@using League.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = Localizer["Set Password"].Value;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
    ViewContext.ClientValidationEnabled = true;
}
@model SetPasswordViewModel
<!-- Modal -->
<modal id="set-password" title="@ViewData["Title"]" tabindex="-1">
    <modal-body>
        <form asp-controller="@nameof(Manage)" asp-action="@nameof(Manage.SetPassword)" asp-route-organization="@tenantUrlSegment" method="post" role="form">
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <p class="text-info">
                @Localizer["You do not have a local password for this site. Add a local password so you can sign in without an external login."]
            </p>
            <site-validation-summary show="All"></site-validation-summary>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" autofocus class="form-control" aria-describedby="passwordHelpBlock" />
                <small id="passwordHelpBlock" class="form-text text-muted">
                    <partial name="_passwordRules" />
                </small>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </form>
    </modal-body>
    <modal-footer show-dismiss="true" dismiss-text="@Localizer["Cancel"].Value">
        <button site-ajax-submit class="btn btn-primary">@Localizer["Save"]</button>
    </modal-footer>
</modal>
@{ if (ViewContext.ClientValidationEnabled) { await Html.RenderPartialAsync(League.ViewNames.Shared._ValidationScriptsPartial); } /* register the modal form for validation */ }