@using League.Controllers
@using League.Helpers
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@using League.MultiTenancy @* don't remove *@
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@inject MetaDataHelper Metadata
@inject TenantLink TenantLink
@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Change account settings"].Value;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
}
<div>
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
</div>
<partial name="@League.Views.ViewNames.Manage._IndexMessagesPartial" model="@Model.ManageMessage" />
<div class="mb-0 pb-1">
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@(Metadata.GetDisplayName<ChangeUsernameViewModel>(nameof(ChangeUsernameViewModel.Username)))</li>
        <li class="list-inline-item col-md-7">@(User.Identity?.Name)</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@(TenantLink.Action(nameof(Manage.ChangeUserName), nameof(Manage)))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@(Metadata.GetDisplayName<RegisterViewModel>(nameof(RegisterViewModel.Password)))</li>
        <li class="list-inline-item col-md-7">
            @if (Model.HasPassword)
            {
                <span class="fas fa-ellipsis-h"></span><span class="fas fa-ellipsis-h"></span><span class="fas fa-ellipsis-h"></span>
            }
            else
            {
                <span>@Localizer["[Not set]"]</span>
            }
        </li>
        <li class="list-inline-item col-md-auto">
            @if (Model.HasPassword)
            {
                <button type="button" site-toggle-modal-ajax site-data-url="@(TenantLink.Action(nameof(Manage.ChangePassword), nameof(Manage)))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button>
            }
            else
            {
                <button type="button" site-toggle-modal-ajax site-data-url="@(TenantLink.Action(nameof(Manage.SetPassword), nameof(Manage)))" class="btn btn-sm btn-primary">@Localizer["Create"]</button>
            }
        </li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@Localizer["Personal Details"]</li>
        <li class="list-inline-item col-md-7">@Model.ApplicationUser!.CompleteName</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.EditPersonalDetails), nameof(Manage))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@(Metadata.GetDisplayName<ChangeEmailViewModel>(nameof(ChangeEmailViewModel.Email)))</li>
        <li class="list-inline-item col-md-7">@Model.ApplicationUser.Email</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.ChangeEmail), nameof(Manage))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@(Metadata.GetDisplayName<EditEmail2ViewModel>(nameof(EditEmail2ViewModel.Email2)))</li>
        <li class="list-inline-item col-md-7">@(Model.ApplicationUser.Email2 ?? Localizer["[Not set]"].Value)</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.EditEmail2), nameof(Manage))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@(Metadata.GetDisplayName<EditPhoneViewModel>(nameof(EditPhoneViewModel.PhoneNumber)))</li>
        <li class="list-inline-item col-md-7">@Html.Raw(string.IsNullOrEmpty(Model.ApplicationUser.PhoneNumber) ? Localizer["[Not set]"].Value : Model.ApplicationUser.PhoneNumber)</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.EditPhoneNumber), nameof(Manage))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@(Metadata.GetDisplayName<EditPhone2ViewModel>(nameof(EditPhone2ViewModel.PhoneNumber2)))</li>
        <li class="list-inline-item col-md-7">@Html.Raw(string.IsNullOrEmpty(Model.ApplicationUser.PhoneNumber2) ? Localizer["[Not set]"].Value : Model.ApplicationUser.PhoneNumber2)</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.EditPhoneNumber2), nameof(Manage))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@Localizer["Linked Social Logins"]</li>
        <li class="list-inline-item col-md-7">
            @{
                if (Model.Logins.Count == 0)
                {
                    @Localizer["[Not set]"]
                }
                else
                {
                    @Html.Raw(string.Join(", ", Model.Logins.Select(l => l.ProviderDisplayName)))
                }
            }
        </li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.ManageLogins), nameof(Manage))" class="btn btn-sm btn-primary">@Localizer["Edit"]</button></li>
    </ul>
    <h4 class="text-danger">@Localizer["Danger Zone"]</h4>
    <ul class="list-inline no-gutters">
        <li class="list-inline-item text-success col-md-3">@Localizer["Delete Account"]</li>
        <li class="list-inline-item col-md-7">@Localizer["Caution: Once the account is deleted, this is final."]</li>
        <li class="list-inline-item col-md-auto"><button type="button" site-toggle-modal-ajax site-data-url="@TenantLink.Action(nameof(Manage.DeleteAccount), nameof(Manage))" class="btn btn-sm btn-outline-danger">@Localizer["Delete"]</button></li>
    </ul>
    <div class="text-muted">
        @{ var zonedTime = Model.TimeZoneConverter.ToZonedTime(Model.ApplicationUser.ModifiedOn)!;}
        @Localizer["Last update"]: @zonedTime.DateTimeOffset.DateTime.ToShortDateString() @zonedTime.DateTimeOffset.DateTime.ToLongTimeString() @zonedTime.Abbreviation
    </div>
</div>

