@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IHttpContextAccessor HttpContextAccessor
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext

@{
    ViewData["Title"] = Localizer["User Impersonation"].Value;
    var search = @HttpContextAccessor.HttpContext?.Request.Query["search"].ToString().Trim();
    int.TryParse(ViewData["Limit"]?.ToString(), out var limit);
    var tenantRoute = TenantContext.SiteContext.UrlSegmentValue;
}
@model List<TournamentManager.DAL.EntityClasses.UserEntity>
<div class="mb-0 pb-1">
    <h2 class="h2">@ViewData["Title"]</h2>
    <div>
        <form asp-controller="@nameof(League.Areas.Admin.Controllers.Impersonation)" asp-action="@nameof(League.Areas.Admin.Controllers.Impersonation.Index)" asp-route-tenant="@tenantRoute" method="get" role="form">
            <div class="mb-3">
                <label for="search" class="form-label">@Localizer["Find by email, first/last/nick name"]</label>
                <input id="search" name="search" required="required" class="form-control" value="@search" aria-describedby="searchHelpBlock" />
                <small id="searchHelpBlock" class="form-text text-muted">
                    @Localizer["Wildcards (%) are allowed"]
                </small>
            </div>
            <div class="mb-3">
                <label for="limit" class="form-label">@Localizer["Limit"]</label>
                <input id="limit" name="limit" value="@limit" required="required" class="form-control" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-lg btn-primary">@Localizer["Find"]</button>
            </div>
        </form>
    </div>
    <div>
        @if (Model.Count > 0)
        {
            <div><strong>@Localizer["Users found"]:</strong></div>
        }
        @if (Model.Count == 0 && !string.IsNullOrWhiteSpace(search))
        {
            <div><strong>@Localizer["No users found for the search term"].</strong></div>
        }
        <ul>
            @foreach (var user in Model)
            {
                <li>@user.CompleteNameWithNickName - @user.Email <a class="btn btn-sm btn-primary" asp-area="@nameof(League.Areas.Admin)" asp-controller="@nameof(League.Areas.Admin.Controllers.Impersonation)" asp-action="@nameof(League.Areas.Admin.Controllers.Impersonation.Start)" asp-route-tenant="@tenantRoute" asp-route-id="@user.Id">@Localizer["Impersonate"]</a></li>
            }
        </ul>
        <div>
            @if (limit < Model.Count)
            {
                <div>@Localizer["Limit of {0} hits exceeded", limit].</div>
            }
        </div>
    </div>
</div>
