@using League.Controllers
@using League.Views.Role
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@model League.Models.RoleViewModels.RoleRemoveModel
@{ var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;}
<!-- Modal -->
<modal id="edit-team" title="@_RemoveMemberModalPartial.Remove_team_member" dialog-class="modal-md" tabindex="-1">
    <modal-body>
        @* Form with only 1 input field can be submitted with enter key. So we have to prevent default submit behavior and trigger a click on saveBtn *@
        <form asp-controller="@nameof(Role)" asp-action="@nameof(Role.Remove)" asp-route-tenant="@tenantUrlSegment" method="post" role="form" novalidate>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input asp-for="TeamId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="UserName" type="hidden" />
            <input asp-for="ClaimType" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">@string.Format(_RemoveMemberModalPartial.RemoveMemberAs, Model.UserName, Model.ClaimType == League.Identity.Constants.ClaimType.ManagesTeam ? _RemoveMemberModalPartial.ManagesTeam : _RemoveMemberModalPartial.PlaysInTeam)</div>
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer show-dismiss="true" dismiss-text="@_RemoveMemberModalPartial.Cancel">
        <button site-ajax-submit class="btn btn-primary">@_RemoveMemberModalPartial.Remove</button>
    </modal-footer>
</modal>
