@using League.Views
@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentManager.DAL.EntityClasses
@using TournamentManager.DAL.TypedViewClasses
@using TournamentManager.MultiTenancy
@inject IViewLocalizer Localizer
@inject ITenantContext TenantContext
@model League.Models.MatchViewModels.ResultsViewModel
@{
    const string overruled = "/";
    const string tableDescriptionId = "table-description-id"; // for aria-describedby of a table element
    ViewData["Title"] = Localizer["Match Results"].Value + " - " + Model.Tournament?.Name;
    var tenantUrlSegment = TenantContext.SiteContext.UrlSegmentValue;
    if (Model.CompletedMatches.Count == 0)
    {
        <div class="mb-0 pb-1">
            <h2 class="h2">@ViewData["Title"]</h2>
            <site-alert type="Info" icon="fas fa-calendar-times" icon-size-class="fa-3x">
                <h4 class="h4">@Localizer["There are no match results at this time"].</h4>
            </site-alert>
        </div>

        return;
    }

    var activeRoundId = Model.ActiveRoundId ?? 0;
    var maxNumOfSets = Model.CompletedMatches.Max(m => m.Set.Count); // zero completed matches is already checked before
    var rounds = Model.CompletedMatches
        .GroupBy(m => m.RoundName, (key, m) => new { RoundName = key, RoundId = m.First().RoundId, RoundDescription = m.First().RoundDescription, RoundTypeDescription = m.First().RoundTypeDescription })
        .OrderBy(m => m.RoundName).ToList();
    var useRecentRoundCookie = !(Model.ActiveRoundId.HasValue && rounds.Any(r => r.RoundId == Model.ActiveRoundId));
    if (useRecentRoundCookie) { activeRoundId = rounds.FirstOrDefault()?.RoundId ?? 0; }
    MatchEntity ToMatchEntity(CompletedMatchRow cmr)
    {
        return new MatchEntity { Id = cmr.Id, HomeTeamId = cmr.HomeTeamId, GuestTeamId = cmr.GuestTeamId, VenueId = cmr.VenueId };
    }
}
<div class="mb-0 pb-1">
    <h2 id="@tableDescriptionId" class="h2">@ViewData["Title"]</h2>
    <hr class="mb-4" />
    <partial name="@League.Views.ViewNames.Match._ResultMessagesPartial" model="@Model.MatchResultMessage" />
    <ul class="nav nav-tabs" id="round-tabs" role="tablist">
        @foreach (var r in rounds)
        {
            var ariaSelected = r.RoundId == activeRoundId ? "true" : "false";
            <li class="nav-item">
                <a class="nav-link py-1@{if (r.RoundId == activeRoundId){<text> active</text>}}" id="tab-link-@(r.RoundId)" data-bs-toggle="tab" href="#tab-@(r.RoundId)" role="tab" aria-selected="@ariaSelected">@r.RoundDescription</a>
            </li>
        }
    </ul>
    <div class="tab-content mt-1" id="match-results">
        @foreach (var r in rounds)
        {
            <div class="tab-pane@{if (r.RoundId == activeRoundId) {<text> show active</text>}}" id="tab-@(r.RoundId)" role="tabpanel">
                <div class="text-success">@r.RoundTypeDescription</div>
                <div id="team-filter-@r.RoundId" class="team-filter my-2 d-none" data-bs-toggle="tooltip" title="@Localizer["Remove filter for team"]" tabindex="0">
                    <i class="fas fa-1x fa-times-circle me-2"></i>
                    <span class="badge bg-dark"></span>
                </div>
                <div class="rounded table-responsive" style="min-height: 13rem">@* min height assures dropdowns are not clipped *@
                    <table class="table table-sm" aria-describedby="@tableDescriptionId">
                        <thead class="rounded">
                            @{
                                var columnCount = 6 + maxNumOfSets;
                            }
                            <tr>
                                <th class="opponents">@Localizer["Opponents"]</th>
                                <th class="date">@Localizer["Date"]</th>
                                <th class="result" data-bs-toggle="tooltip" title="@Localizer["Match Points"]">@Localizer["MP"]</th>
                                <th class="result" data-bs-toggle="tooltip" title="@Localizer["Set Points"]">@Localizer["SP"]</th>
                                <th class="result" data-bs-toggle="tooltip" title="@Localizer["Ball Points"]">@Localizer["BP"]</th>
                                @for (var i = 0; i < maxNumOfSets; i++)
                                {
                                    <th class="result" data-bs-toggle="tooltip" title="@Localizer["Set {0}", i + 1]: @Localizer["Ball Points"]">@Localizer["S"]@(i + 1)</th>
                                }
                                <th class="context-menu" data-bs-toggle="tooltip" title="@Localizer["Menu"]"><i class="fas fa-ellipsis-v"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                const string unknown = "-";
                                var matches = Model.CompletedMatches.Where(m => m.RoundId == r.RoundId).OrderBy(m => m.RoundLegSequenceNo).ThenBy(m => m.MatchDate).ToList();
                                var legs = matches.GroupBy(m => m.RoundLegSequenceNo).ToList();
                                Axuno.Tools.DateAndTime.ZonedTime? zonedTime;
                                for (var i = 0; i < matches.Count; i++)
                                {
                                    var match = matches[i];
                                    if (legs.Count >= 1 && !string.IsNullOrWhiteSpace(match.RoundLegDescription) && (i == 0 || match.RoundLegSequenceNo != matches[i - 1].RoundLegSequenceNo))
                                    {
                                        <tr><td colspan="@columnCount" class="leg-change"><span class="badge bg-dark">@match.RoundLegDescription</span></td></tr>
                                    }
                                    <tr>
                                        <td class="opponents@(Model.MatchResultMessage?.MatchId == match.Id ? " changed-result" : string.Empty)">
                                            <div class="text-truncate">@match.HomeTeamNameForRound</div>
                                            <div class="text-truncate">@match.GuestTeamNameForRound</div>
                                        </td>
                                        @{ zonedTime = Model.TimeZoneConverter.ToZonedTime(match.MatchDate);}
                                        <td class="date text-truncate">@(Html.Raw(zonedTime != null ? zonedTime.DateTimeOffset.DateTime.ToShortDateString() + "<br/>" + zonedTime.Abbreviation : Localizer["unknown"].Value))</td>
                                        <td class="result">
                                            @{ var flag = match.IsOverruled ? overruled : ""; }
                                            <div>@(match.HomeMatchPoints.HasValue ? match.HomeMatchPoints.ToString() : unknown)<sup>@flag</sup></div>
                                            <div>@(match.GuestMatchPoints.HasValue ? match.GuestMatchPoints.ToString() : unknown)<sup>@flag</sup></div>
                                        </td>
                                        <td class="result">
                                            <div>@(match.HomeSetPoints.HasValue ? match.HomeSetPoints.ToString() : unknown)</div>
                                            <div>@(match.GuestSetPoints.HasValue ? match.GuestSetPoints.ToString() : unknown)</div>
                                        </td>
                                        <td class="result">
                                            <div>@(match.HomeBallPoints.HasValue ? match.HomeBallPoints.ToString() : unknown)</div>
                                            <div>@(match.HomeBallPoints.HasValue ? match.GuestBallPoints.ToString() : unknown)</div>
                                        </td>
                                        @{
                                            var set = match.Set;
                                            if (set.Count > 0)
                                            {
                                                foreach (var s in set)
                                                {
                                                    <td class="result">
                                                        <div>@s.Home</div>
                                                        <div>@s.Guest</div>
                                                    </td>
                                                }
                                                // fill with empty set columns
                                                for (var s = set.Count; s < maxNumOfSets; s++)
                                                {
                                                    <td class="result">&nbsp;</td>
                                                }
                                            }
                                            else
                                            {
                                                // There are no sets stored
                                                for (var s = 0; s < maxNumOfSets; s++)
                                                {
                                                    <td class="result">
                                                        <div>@unknown</div>
                                                        <div>@unknown</div>
                                                    </td>
                                                }
                                            }
                                        }
                                        <td class="context-menu">
                                            <div class="dropdown text-center">
                                                <a href="#" class="stretched-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v" style="font-size: .8rem"></i>
                                                </a>
                                                <div class="dropdown-menu shadow" role="menu">
                                                    <a href="#" tabindex="0" data-round-id="@match.RoundId" data-team-name="@match.HomeTeamNameForRound" class="dropdown-item filter-link">@Localizer["Filter matches for this team"]</a>
                                                    <a asp-action=@nameof(League.Controllers.Match.EnterResult) asp-controller=@nameof(League.Controllers.Match) asp-route-tenant="@tenantUrlSegment" asp-route-id=@(match.Id)
                                                       tabindex="0" class="dropdown-item"
                                                       site-authorize-resource site-resource=@ToMatchEntity(match)
                                                       site-requirement=@League.Authorization.MatchOperations.EnterResult>@Localizer["Edit this match"]</a>
                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <a href="#" class="stretched-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v" style="font-size: .8rem"></i>
                                                </a>
                                                <div class="dropdown-menu shadow" role="menu">
                                                    <a href="#" tabindex="0" data-round-id="@match.RoundId" data-team-name="@match.GuestTeamNameForRound" class="dropdown-item filter-link">@Localizer["Filter matches for this team"]</a>
                                                    <a asp-action=@nameof(League.Controllers.Match.EnterResult) asp-controller=@nameof(League.Controllers.Match) asp-route-tenant="@tenantUrlSegment" asp-route-id=@(match.Id)
                                                       tabindex="0" class="dropdown-item"
                                                       site-authorize-resource site-resource=@ToMatchEntity(match)
                                                       site-requirement=@League.Authorization.MatchOperations.EnterResult>@Localizer["Edit this match"]</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @{
                    if (Model.CompletedMatches.Any(m => m.RoundId == r.RoundId && m.IsOverruled))
                    {
                        <div class="text-muted">
                            @(overruled) = @Localizer["Awarded points were adjusted manually"].
                        </div>
                    }
                }
                @{ zonedTime = Model.TimeZoneConverter.ToZonedTime(Model.CompletedMatches.Where(m => m.RoundId == r.RoundId).Max(m => m.ModifiedOn)); }
                <div class="text-muted">
                    @Localizer["Last update"]: @zonedTime?.DateTimeOffset.DateTime.ToShortDateString() @zonedTime?.DateTimeOffset.DateTime.ToLongTimeString() @zonedTime?.Abbreviation
                </div>
            </div>
        }
    </div>
</div>
@section styles
{
    @{
        var resultColWidth = 5;
        var contextMenuColWidth = 5;
        var dateColWidth = 10;
        var opponentColWidth = 100 - resultColWidth * 3 - resultColWidth * maxNumOfSets - dateColWidth - contextMenuColWidth;
        // CSS classes as string removes "CSS03 Unexpected character sequence in property value."
        var resultCssClass = $".result {{ text-align: center; width: {resultColWidth}%;}}";
        var contextMenuCssClass = $".context-menu {{ text-align: center; width: {contextMenuColWidth}%;}}";
        var dateCssClass = $".date {{ width: {dateColWidth}%;}}";
        var opponentsCssClass = $".opponents {{width: {opponentColWidth}%;}}";
    }
    <style type="text/css">
        #round-tabs .nav-link:not(.active) {border:solid 1px var(--bs-gray-500)}
        #match-results table tbody tr {border-bottom: solid 2px var(--bs-gray-300)}
        #match-results table thead {--bs-table-bg: var(--bs-gray-300)}
        .changed-result { font-weight: bold; border-left: solid 8px var(--bs-gray-300) !important}
        .team-filter { cursor: pointer;}
        .filter-link { /* javascript only */ }
        .leg-change { padding: 0; margin:0}
        @(resultCssClass)
        @(contextMenuCssClass)
        @(dateCssClass)
        @(opponentsCssClass)
        .opponents > div {max-width: calc(45 * 1vw); padding-right: .5rem }
        @* /* striping */
        .odd { background-color: lightgray;}
        *@
    </style>
}
@section scripts
{
    <partial name="@ViewNames.Shared._TabNavigationScriptPartial" model="@useRecentRoundCookie"/>
    <partial name="@ViewNames.Shared._TabFilterTableByTeamScriptPartial"/>
}
@section meta
{
    <meta name="robots" content="index, nofollow">
}
