@model League.Components.MainNavigationComponentModel
@using League.Components

<ul class="navbar-nav me-auto mt-2 mt-md-0 w-100" data-bs-theme="light">
    @foreach (var node in Model.TopNavigationNodes)
    {
        // Node keys after "RightAlignSeparator" shall be aligned to the right margin of the navigation bar
        if (node.Key.Equals("RightAlignSeparator", StringComparison.InvariantCultureIgnoreCase))
        {
            ViewData["dropdown-menu-end"] = " dropdown-menu-end"; // for dropdown in NavigationNodeChildDropdownPartial: right align the dropdown menu
            <li class="ms-md-auto"></li>
        }

        if (!node.ShouldShow()) { continue; }
        if (!node.HasVisibleChildNodes())
        {
            <li class="nav-item">
                <a class="@Model.GetClass(Context, node, "nav-link", "active", true)" href="@Url.Content(node.Url!)">@Html.Raw(node.GetIcon())@node.Text</a>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="@Model.GetClass(Context, node, "nav-link dropdown-toggle", "active", true)" data-bs-toggle="dropdown" href="@Url.Content(node.Url!)">
                    @Html.Raw(node.GetIcon())@node.Text
                </a>
                <partial name="@League.Views.ViewNames.Shared.NavigationNodeChildDropdownPartial" model="(Model, node)" />
            </li>
        }
    }
    <partial name="@League.Views.ViewNames.Shared._LanguagePartial" />
</ul>

